.back {
    /* Really cool CSS3 transition shorthand */
    /* https://stackoverflow.com/a/10983757 */
    transition: background 0.1s linear;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: #fff;
    opacity: 0.55;
    width: 100%;
    height: 100%
}

.list-heading {
    position: absolute;
    top: 50vh;
}

.list-container {
    position: absolute;
}

.list-container:hover {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.li:hover {
    color: black;
    text-shadow: none;
}